body {
  background-image: url("../hatterek/body.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  background-image: url("../hatterek/main3.jpg");
  background-attachment: fixed;
  max-width: 1200px;
  margin: auto;
  height: auto;
  padding-bottom: 10px;
  font-size: 120%;
}

ul {
  width: 100%;
}

nav > div > ul > .nav-item > .nav-link {
  color: rgb(212, 175, 55);
}

a:hover {
  background-color: #333333;
}

section {
  margin-top: 20px;
}



#urlap {
  max-width: 700px;
  margin: auto;
}
form > .row {
  --bs-gutter-x: 0px;
} 

#urlap > form > div {
  margin-top: 7px;
  margin-bottom: 7px;
}

#urlap > form > div > label {
  font-weight: bold;
}

section > div > form > div > .btn {
  background-color: #d9d9d9;
  border: 2px solid black;
  font-weight: bold;
  margin-right: 25px;
}

section > div > #urlap,
#keresesRendezes {
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#keresesRendezes > .row > form {
  padding-right: 0px;
}

#kereses {
  padding-left: 0px;
}

#rendezes {
  padding-left: 0px;
}

#tablazat {
  background-color: white;
  border: 2px solid black;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  max-height: 45vh;
}

@media only screen and (max-width: 800px) {
  table > thead > tr > th {
    font-size: 100%;
  }

  table > tbody > tr > td {
    font-size: 90%;
  }
}

@media only screen and (max-width: 720px) {
  form {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 700px) {
  main {
    width: 100%;
    font-size: 97%;
  }

  form {
    margin-left: 0px;
    margin-right: 0px;
  }

  section {
    margin: 10px;
  }

  div {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
  }

  #keresesRendezes > .row > form {
    padding-left: 40px;
  }

  #tablazat {
    margin: 0px;
  }
}

@media only screen and (max-width: 580px) {
  main {
    height: auto;
    font-size: 95%;
  }

  section > #urlap > form > div {
    margin: 0px;
  }

  section > #urlap > form > .row {
    margin-bottom: 0px;
  }

  section > #urlap > form > .row > label {
    margin-bottom: 0px;
  }

  section > #urlap > form > .row > div {
    margin-bottom: 0px;
  }

  form > .row > div > .btn {
    margin-top: 10px;
  }

  section > div > form > div > .btn {
    margin-top: 10px;
  }

  #tablazat {
    margin-top: 10px;
  }

  #kereses {
    padding-right: 0px;
  }
  
  #rendezes {
    padding-right: 0px;
  }
}
