
@charset "utf-8";


* {

    box-sizing: border-box;
}

main {

    margin: auto;
}



/* HÁTTEREK */

body {

    background-image: url("../hatterek/body.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
  
main {
  
    background-image: url("../hatterek/main3.jpg");
    background-attachment: fixed;
    max-width: 1100px;
    margin: auto;
    min-height: 100vh;
}



/* HEADER */

header {

    padding: 20px;
}



/* NAV */

ul {

    width: 100%;
}
  
nav > div > ul > .nav-item > .nav-link {
  
    color: rgb(212, 175, 55);
}
  
.nav-item>a:hover {
  
    background-color: #333333;
}



/* ARTICLE */

article {

    padding: 30px;
}

img {

    margin: 5px;
    border: 2px solid black;
}


/* linkek */

a {

    text-decoration: none;
    color: rgb(194, 165, 0);
}
  
a:hover {
  
    background-color: #333333;
    color: rgb(194, 165, 0);
}

li {

    list-style-type: none;
}


/* napok és műsorlista */

#musorMenu {

    background-color: black;
}

#napokMenu {

    display: flex;
    flex-wrap: wrap;
}

.napok {

    padding: 10px;
    background-color: black;
}

.napok:hover {

    background-color: #333333;
    color: rgb(194, 165, 0);
}

#musorLista {

    margin: auto;
    padding: 10px;
}

th, td {

    padding: 10px;
}


/* TÉRKÉP ÉS MÉDIA */

.terkep > div > iframe {

    padding-left: 0px;
    padding-right: 0px;
    height: 30vh;
    width: 50vh;
    border: 2px solid black;
    border-radius: 5px;
}

.socMedia {

    padding: 30px;
}

.terkepMedia {

    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: rgba(177, 214, 219, 0.562);
    padding: 30px;

    text-align: center;
}

.fa {

    padding: 10px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  
}
    
.fa:hover {
  
    color: white;
    opacity: 0.7;
}
    
.fa-facebook {
  
    background: #3B5998;
    color: white;
}
    
.fa-twitter {
  
    background: #55ACEE;
    color: white;
}



/* FOOTER */

footer {

    background-color: black;
    color: rgb(194, 165, 0);
    padding: 20px;
}

#moziNev {

    color: rgb(223, 223, 185);
    padding-bottom: 20px;
    padding-top: 5px;
}

h5 {

    padding-bottom: 10px;
}