
@charset "utf-8";


main {

    margin: auto;
}

* {

    box-sizing: border-box;
}

/* Hátterek */

body {

    background-image: url("../hatterek/body.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
  
main {
  
    background-image: url("../hatterek/main3.jpg");
    background-attachment: fixed;
    max-width: 1100px;
    margin: auto;
    min-height: 100vh;
}


/* Header */

header {

    padding: 20px;
}


/* Nav */

ul {

    width: 100%;
}
  
nav > div > ul > .nav-item > .nav-link {
  
    color: rgb(212, 175, 55);
}
  
.nav-item>a:hover {
  
    background-color: #333333;
}


/* Article */

article {

    padding: 30px;
}

a {

    text-decoration: none;
    color: rgb(194, 165, 0);
}
  
a:hover {
  
    background-color: #333333;
    color: rgb(194, 165, 0);
}

li {

    list-style-type: none;
}


#film {

    padding: 30px;
}

#youtube {

    padding: 5px;
}

#cim {

    color: rgb(194, 165, 0);
}

#filmAdatlap {

    display: flex;

    background-color: rgba(219, 219, 207, 0.507);
    padding: 20px;
}

#plakat {

    width: 400px;
    height: auto;

    padding: 10px;
}

#leiras {

    padding: 10px;
}

.napok {

    padding: 10px;
    background-color: rgba(177, 214, 219, 0.562);
}

.napok:hover {

    background-color: #333333;
    color: rgb(194, 165, 0);
}


#musorLista {

    margin: auto;
    padding: 10px;
}


/* Footer */

footer {

    background-color: black;
    color: rgb(194, 165, 0);
    padding: 20px;
}

#moziNev {

    color: rgb(223, 223, 185);
}




/* Reszponzivitás */

@media only screen and (max-width: 1650px) {


}

@media only screen and (max-width: 1470px) {

    nav ul {

        display: flex;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 850px) {


}