
@charset "utf-8";


/* általános formázások másik css-ben */


/* ARTICLE */


/* film galéria és akciók */

#galeriaSzulo {

    display: flex;
    justify-content: center;

    padding: 30px;
    margin: auto;
}

#kisGaleria {

    display: grid;
    grid-template-rows: 1fr 1fr;
}



/* Táblázatos megjelenítés */

#musorLista {

    border: 2px solid black;
}



/* Csempés megjelenítés */

.musorListaCsempeSzulo {

    padding: 10px;
    border: 2px solid black;
}

.csempeSablon {

    display: flex;
    flex-wrap: nowrap;
    -ms-flex-align: center;

    padding: 50px;
    background-color: rgba(177, 214, 219, 0.562);
    border: 2px solid black;
}

.csempePlakat {

    width: 300px;
    height: auto;
    margin: 10px;
}

.csempeLeiras {

    margin: 10px;
}




/* Reszponzivitás */

@media only screen and (max-width: 1650px) {


    #galeriaSzulo {

        display: flex;
        flex-wrap: wrap;
        
        padding: 10px;
    }   

    #korhintaGaleria img {

        max-width: 100%;
        height: auto;
    }

    #kisGaleria img {

        max-width: 100%;
        height: auto;
    }

    #terkepMedia {

        display: flex;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 1470px) { 

    #kisGaleria {

        display: flex;
        margin: auto;
    }

    nav ul {

        display: flex;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 950px) {


    .csempeSablon {

        flex-wrap: wrap;
    }

    #napokMenu {

        flex-direction: column;
    }

    #musorLista tr {

        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 850px) {


    #kisGaleria img {

        max-width: 50%;
        height: auto;
    }

}

@media only screen and (max-width: 500px) {


    #kisGaleria img {

        max-width: 47%;
        height: auto;
    }

    .csempePlakat {

        max-width: 80%;
        height: auto;
    }

    .csempeLeiras {

        max-width: 80%;
    }

    #idoPontok tr {

        display: flex;
        flex-direction: column;
    }
}