@charset "utf-8";

/* általános formázások másik css-ben */

/* HEADER */

header {

    display: flex;
}

#kereses {

    display: flex;
}


/* ARTICLE */

#topGomb {

    float: right;
}


nav > .container-fluid > .navbar-toggler {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav > .container-fluid > #mynavbar > .navbar-nav {

    width: 100%;
}
  
nav > .container-fluid > .collapse > ul > .nav-item > .nav-link {
  
    color: rgb(212, 175, 55);
}
  

section .row {

    margin: 0px;
}


#korhintaGaleria {

    padding: 0px;
}

#korhintaGaleria > img {

    width: 100%;
    margin: 0px;
    padding: 10px;
}

#galeriaSzulo{
    margin: 10px;
}

#kisGaleria{
    padding: 0px;
}

#kisGaleria > div {

    padding: 10px;
}

#kisGaleria > div > img {

    max-width: 100%;
    height: 100%;
}


/* linkek */

.idoPontok > tbody > tr > th > a {
    
    padding: 10px;
    text-align: center;
}

a {

    text-decoration: none;
    color: rgb(194, 165, 0);
}

a:hover {

    background-color: #333333;
    color: rgb(194, 165, 0);
}


/* Táblázatos megjelenítés */

#musorLista {

    border: 2px solid black;
}


/* Csempés megjelenítés */

.musorListaCsempeSzulo {

    border: 2px solid black;
    
}

#musorListaCsempeSzulo > .row {

    margin-left: 0px;
    margin-right: 0px;
}

.csempeSablon {

    margin-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(177, 214, 219, 0.562);
    border: 2px solid black;
}

.divCsempePlakat {

    text-align: center;
} 

.divCsempePlakat > img {

    border: 2px solid black;
}

.divCsempePlakat > img:hover {

    transform: scale(1.4);
}

.csempePlakat {
    max-width: 100%;
    max-height: 240px;
}

.csempeLeiras > p {

    text-align: justify;
}

table {

    max-width: 100%;
}

.csempeLeiras>p {
    text-align: justify;
}

table{
    max-width: 100%;
}


/* Reszponzivitás */
@media only screen and (max-width: 992px) {
    #kisGaleria div {
        text-align: center;
    }
}

 @media only screen and (max-width: 950px) {

    .csempeSablon {

        flex-wrap: wrap;
    }

 }
@media only screen and (max-width: 810px) {


    .table-responsive{
        font-size: 11pt;
        max-width: 100%;
        margin: auto;
    }
}

#filmek{
    padding: 10px;
    background-color: #d1e7dd;
}

@media only screen and (max-width: 768px) {
    
    .table-responsive>table{
        display: none;
    }

    #kisGaleria {

        display: none;
    }
}

@media only screen and (min-width: 768px) {

    #filmek {

        display: none;
    }
}

article > div {

    max-width: 1200px;
}
.table-responsive > table > thead > tr > th {

    padding: 3px;
}


@media only screen and (max-width: 881px) {

    article > div {

       max-width: 200vh;
    }
}
