body {
    background-image: url("hatterek/body.jpg");
  }
  
  main {
    background-image: url("hatterek/main3.jpg");
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    padding-bottom: 10px;
    font-size: 140%;
  }
  
  ul {
    width: 100%;
  }
  
  nav > div > ul > .nav-item > .nav-link {
    color: rgb(212, 175, 55);
  }
  
  a:hover {
    background-color: #333333;
  }
  
  section {
    margin-top: 20px;
  }
  
  div {
    max-width: 750px;
    margin: auto;
  }
  
  #urlap > form > div > label {
    font-weight: bold;
  }
  
  section > div > form > div > .btn {
    background-color: #d9d9d9;
    border: 2px solid black;
    font-weight: bold;
    margin-right: 25px;
  }

  .row>div>.jelszo{
    background-color: #d9d9d9;
    border: 2px solid black;
    font-weight: bold;
    margin-right: 25px;
  }
  
  #keresesRendezes {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #kereses{
    padding-right: 0px;
  }
  
  #tablazat {
    background-color: white;
    border: 2px solid black;
    max-height: 50vh;
  }
  
   @media only screen and (max-width: 812px) {
    main {
      font-size: 120%;
    }
    section{
        padding: 10px;
    }
  }
  @media only screen and (max-width: 749px) {
    main {
      width: 100%;
      font-size: 95%;
      height: 105vh;
    }
  
    section {
      margin: 13px;
    }
  
    div {
      width: 100%;
      margin: 0px;
      margin-bottom: 10px;
    }
    #tablazat {
        background-color: white;
        border: 2px solid black;
        max-height: 40vh;
      }
  }

  @media only screen and (max-width: 580px) {
    main {
      height: auto;
      font-size: 95%;
    }

    section{
        padding: 10px;
    }

    div {
        margin-bottom: 20px;
      }
  
    section > #urlap > form > .row {
      margin-bottom: 0px;
    }
  
    section > #urlap > form > .row > label {
      margin-bottom: 0px;
    }
  
    section > #urlap > form > .row > div {
      margin-bottom: 0px;
    }
  
    section > div > form > div > .btn {
      margin-top: 10px;
    }
  
    #keresesRendezes {
      margin: 5px;
    }
  
    #kereses{
      padding-left: 0px;
      padding-right: 12px;
    }
    #rendezes{
      padding-left: 0px;
    }
    .row>div>.jelszo{
margin-top: 10px;
      }
  }

  @media only screen and (max-height: 700px) {
    main {
      height: auto;
    }
  }
  