body {
  background-image: url("hatterek/body.jpg");
}

main {
  background-image: url("hatterek/main3.jpg");
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  font-size: 140%;
}

ul {
  width: 100%;
}

nav > div > ul > .nav-item > .nav-link {
  color: rgb(212, 175, 55);
}

a:hover {
  background-color: #333333;
}

section {
  margin-top: 20px;
}

div {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 10px;
}

#urlapí {
  padding: 10px;
}

#urlap > form > div > label {
  font-weight: bold;
}

input {
  background-color: white;
}

section > div > form > div > .btn {
  background-color: #d9d9d9;
  border: 2px solid black;
  font-weight: bold;
  margin-right: 25px;
}

#tablazat {
  background-color: white;
  border: 2px solid black;
  max-height: 45vh;
  text-align: center;
}

.tbalazatLeiras {
  text-align: justify;
  margin: 0%;
}

@media only screen and (max-width: 800px) {
  main {
    font-size: 120%;
  }
}
@media only screen and (max-width: 700px) {
  main {
    width: 100%;
    height: auto;
    font-size: 97%;
  }

  section {
    margin: 10px;
  }

  div {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 580px) {
  main {
    height: auto;
    font-size: 95%;
  }

  section > #urlap > form > .row {
    margin-bottom: 0px;
  }

  section > #urlap > form > .row > label {
    margin-bottom: 0px;
  }

  section > #urlap > form > .row > div {
    margin-bottom: 0px;
  }

  section > div > form > div > .btn {
    font-weight: initial;
    margin-top: 10px;
  }

  #keresesRendezes {
    margin: 5px;
  }
}

@media only screen and (max-height: 820px) {
  main {
    height: auto;
  }
}
