
@charset "utf-8";


main {

    width: 70%;
    margin: auto;
}

* {

    box-sizing: border-box;
}

/* Hátterek */

body{

    background-image: url("hatterek/body.jpg");
    background-attachment: fixed;
}

main {

    background-image: url("hatterek/main.jpg");
}


/* Header */

header {

    padding: 20px;
    display: flex;
}

h1 {

    padding-left: 40px;
}


/* Menü */

li {

    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
}

a {

    text-decoration: none;
    color: rgb(194, 165, 0);
}

a:hover {

    background-color: #333333;
    color: rgb(194, 165, 0);
}

nav {

    background-color: black;
    padding: 20px;
}


/* Article */

article {

    padding: 30px;
}


#galeriaSzulo {

    display: flex;
    justify-content: center;

    padding: 30px;
    margin: auto;
}

#kisGaleria {

    display: grid;
    grid-template-rows: 1fr 1fr;
}

img {

    padding: 10px;
}


.napok {

    padding: 10px;
    background-color: rgba(177, 214, 219, 0.562);
}

.napok:hover {

    background-color: #333333;
    color: rgb(194, 165, 0);
}


/* Táblázatos megjelenítés */

#musorLista {

    margin: auto;
    padding: 10px;
}

th, td {

    padding: 10px;
}

/* Csempés megjelenítés */

.musorListaCsempeSzulo {

    display: grid;
    grid-template-areas:
        "p l l l";

    padding: 10px;
}

.csempeSablon {

    padding: 50px;
    background-color: rgba(177, 214, 219, 0.562);
}

.csempePlakat {

    grid-area: p;

    width: 300px;
    height: auto;
}

.csempeLeiras {

    grid-area: l;
}

.csempeIdopontok {

    display: flex;
}





#terkep {

    padding: 20px;
}

#socMedia {

    padding: 30px;
}

#terkepMedia {

    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: rgba(177, 214, 219, 0.562);
    padding: 30px;
    margin-top: 30px;
}


/* Footer */

footer {

    background-color: black;
    color: rgb(194, 165, 0);
    padding: 20px;
}

#moziNev {

    color: rgb(223, 223, 185);
}


table {

    padding: 10px;
}
td {

    padding: 5px;
    padding-left: 30px;
    padding-right: 50px;
}
th {

    padding: 5px;
    padding-left: 30px;
    padding-right: 50px;
    text-align: left;
}




/* Reszponzivitás */

@media only screen and (max-width: 1650px) {


    #galeriaSzulo {

        display: flex;
        flex-wrap: wrap;
        
        padding: 10px;
    }   

    #korhintaGaleria img {

        max-width: 100%;
        height: auto;
    }

    #kisGaleria img {

        max-width: 100%;
        height: auto;
    }

    #terkepMedia {

        display: flex;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 1470px) {


    #korhintaGaleria img {

        max-width: 100%;
        height: auto;
    }

    #kisGaleria img {

        max-width: 100%;
        height: auto;
    }

    #galeriaSzulo {

        display: flex;
        flex-wrap: wrap;
        
        padding: 10px;
    }   

    #kisGaleria {

        display: flex;

        margin: auto;
    }

    nav ul {

        display: flex;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 850px) {


    #kisGaleria img {

        max-width: 50%;
        height: auto;
    }

}