@charset "utf-8";

* {

    box-sizing: border-box;
}



/* HÁTTEREK */

body {

    background-image: url("../hatterek/body.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {

    background-image: url("../hatterek/main3.jpg");
    background-attachment: fixed;
    max-width: 1100px;
    margin: auto;
    min-height: 100vh;
}




/* HEADER */


/* FontsForWeb.com */

@font-face {

	font-family: 'CASTELAR';
	src: url('./CASTELAR.eot');
	src: local('CASTELAR'), url('./CASTELAR.woff') format('woff'), url('./CASTELAR.ttf') format('truetype');
}

.fontsforweb_fontid_21688 {

	font-family: 'CASTELAR' !important;
}


header > h1 {

    font-family: CASTELLAR;
    font-size: 60px;
    padding: 20px;
}



/* NAV */

nav > .container-fluid >  .navbar-nav {

    width: 100%;
}

nav > .container-fluid > ul > .nav-item > .nav-link {

    color: rgb(212, 175, 55);
}

.nav-item > a:hover {

    background-color: #333333;
}


#mynavbar{

    cursor: pointer;
}



/* ARTICLE */

article {

    padding: 15px;
}


/* napok és műsorlista */

#musorMenu > div > ul > .nav-item > .nav-link {

    color: rgb(212, 175, 55);
}

.idopont {

    text-align: start;
}



/* FOOTER */

footer {

    background-color: black;
    color: rgb(194, 165, 0);
    padding: 20px;
}

#informacio > div > p > a {

    text-decoration: none;
    color: rgb(194, 165, 0);
}

#moziNev {

    font-family: CASTELLAR;
    color: rgb(223, 223, 185);
    padding-bottom: 20px;
    padding-top: 5px;
}

h5 {

    padding-bottom: 10px;
}

.terkep > iframe {

    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.fa {

  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.fa:hover {

    color: white;
    opacity: 0.7;
}

.fa-facebook {

    background: #3B5998;
    color: white;
}

.fa-twitter {

    background: #55ACEE;
    color: white;
}

#alkotok {

    margin: 0px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid white;
}

#alkotok > div {

    text-align: center;
}






/* RESZPONZIVITÁS */

@media only screen and (max-width: 788px) {

    .terkep {

        margin-top: 20px;
    }

}

@media only screen and (max-width: 500px) {

    header > h1 {

        font-size: 30px;
        padding: 10px;
    }
}