body{
    
    background-image: url("/public/hatterek/main3.jpg");
    color: #be9d31;
  }

  @font-face {
    font-family: 'CASTELAR';
    src: url('./CASTELAR.eot');
    src: local('CASTELAR'), url('./CASTELAR.woff') format('woff'), url('./CASTELAR.ttf') format('truetype');
  }
  .fontsforweb_fontid_21688 {
    font-family: 'CASTELAR' !important;
  }
  
  #felhasznaloKezdolapLink{
    font-family: CASTELLAR;
    font-size: 20px;
  }


  /*Header*/
header div{
    max-width: 120px;
    color: #be9d31;
    padding:10px;
    background-color:#d9d9d9;
  }
  
  
  .elerhetoseg p{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
  }
  
  .felirat p{
    text-align: center;
    font-size: 30px;
    
    }
  
  
  .bejelentpenztar{
    background-color:#d9d9d9;
  
  }
  .bejelentpenztar p{
  color:black;
  
  }
/*Aktfilm p*/

  .aktfilm p{
    margin: 0;
    font-size: 20px;
  }

  
/*Footer*/
  footer{
    padding-top: 40px;;
    padding-left: 10px;
  }